<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud App</title>
    <link rel="stylesheet" th:href="@{styles.css}"/>
</head>
<body>
<form method="POST" th:action="@{/register}" th:object="${registerForm}">
    <h1>Registration of new user</h1>
    <img th:src="@{images/tacocloud.png}" alt="no image">

    <label for="username">Username: </label>
    <input type="text" name="username"/><br/>

    <label for="password">Password: </label>
    <input type="text" name="password"/><br/>

    <label for="confirm">Confirm password: </label>
    <input type="text" name="confirm"/><br/>

    <label for="fullName">Full name: </label>
    <input type="text" name="fullName"/><br/>

    <label for="street">Street: </label>
    <input type="text" name="street"/><br/>

    <label for="city">City: </label>
    <input type="text" name="city"/><br/>

    <label for="state">State: </label>
    <input type="text" name="state"/><br/>

    <label for="zip">Zip code: </label>
    <input type="text" name="zip"/><br/>

    <label for="phoneNumber">Phone number: </label>
    <input type="text" name="phoneNumber"/><br/>

    <input type="submit" value="Register"/>
</form>
</body>
</html>